<h1>Lista de Carritos</h1>

<ul>
    {{#each carts}}
        <li>
            <strong>ID del Carrito:</strong> {{this._id}}
            <ul>
                {{#each this.products}}
                    <li>
                        Producto: {{this.product.title}} - Cantidad: {{this.quantity}}
                    </li>
                {{else}}
                    <li>No hay productos en este carrito</li>
                {{/each}}
            </ul>
        </li>
    {{else}}
        <li>No hay carritos creados</li>
    {{/each}}
</ul>